@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body{
  background-color: #628141;
    background-image: url('/img/minecraft_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.line-solid{
  background-color: #E67E22;
  height: 1px;
  width: 90%;
}
/* Teléfonos */
@media (max-width: 479px) {
.container-trade{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .section-title{
    background-color: #628141;
    border-radius: 4px;
    color:#EBD5AB;
    padding: 4px;
    font-size: 30px;
    width: 70%;
    text-align: center;
  }
  .select-style{
    background-color: #EBD5AB;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .form-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90%; 
    background-color: #628141;
    padding: 5px;
    opacity: 0.95;
  }
  .option-style{
    width: 100%;
  }
  .label-trade-tengo{
    font-size: 25;
    width: 100%;
    color: #EBD5AB
  }
  .input-count{
    all: unset;
    width: 100%;
    background-color: #EBD5AB;
    height: 38px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
  }
  .button-style{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #E67E22;
    border-radius: 4px;
  }
  .button-style-disabled{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #EBD5AB;
    border-radius: 4px;
  }
  .result-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    border-radius: 4px;
    background-color: #EBD5AB;
    gap:8px
  }
  .detail-convert{
    font-size: 18;
    width: 90%;
    text-align: left;
  }
}

/* Teléfonos grandes */
@media (min-width: 480px) and (max-width: 767px) {
  .container-trade{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .section-title{
    background-color: #628141;
    border-radius: 4px;
    color:#EBD5AB;
    padding: 4px;
    font-size: 30px;
    opacity: 0.9;
    width: 50%;
    text-align: center;
  }
  .select-style{
    background-color: #EBD5AB;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .form-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90%; 
    background-color: #628141;
    padding: 5px;
    opacity: 0.95;
  }
  .option-style{
    width: 100%;
  }
  .label-trade-tengo{
    font-size: 25;
    width: 100%;
    color: #EBD5AB
  }
  .input-count{
    all: unset;
    width: 100%;
    background-color: #EBD5AB;
    height: 38px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
  }
  .button-style{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #E67E22;
    border-radius: 4px;
  }
  .button-style-disabled{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #EBD5AB;
    border-radius: 4px;
  }
  .result-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    border-radius: 4px;
    background-color: #EBD5AB;
    gap:8px
  }
  .detail-convert{
    font-size: 18;
    width: 90%;
    text-align: left;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .container-trade{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px
  }
  .section-title{
    background-color: #628141;
    border-radius: 4px;
    color:#EBD5AB;
    padding: 4px;
    font-size: 30px;
    width: 50%;
    text-align: center;
  }
  .select-style{
    background-color: #EBD5AB;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .form-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90%; 
    background-color: #628141;
    padding: 5px;
    opacity: 0.95;
  }
  .option-style{
    width: 100%;
  }
  .label-trade-tengo{
    font-size: 25;
    width: 100%;
    color: #EBD5AB
  }
  .input-count{
    all: unset;
    width: 100%;
    background-color: #EBD5AB;
    height: 38px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
  }
  .button-style{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #E67E22;
    border-radius: 4px;
  }
  .button-style-disabled{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #EBD5AB;
    border-radius: 4px;
  }
  .result-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    border-radius: 4px;
    background-color: #EBD5AB;
    gap:8px
  }
  .detail-convert{
    font-size: 18;
    width: 90%;
    text-align: left;
  }
}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1439px) {
  .container-trade{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px
  }
  .section-title{
    background-color: #628141;
    border-radius: 4px;
    color:#EBD5AB;
    padding: 4px;
    font-size: 30px;
    width: 50%;
    text-align: center;
  }
  .select-style{
    background-color: #EBD5AB;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .form-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 40%; 
    background-color: #628141;
    padding: 5px;
    opacity: 0.95;
  }
  .option-style{
    width: 100%;
  }
  .label-trade-tengo{
    font-size: 25;
    width: 100%;
    color: #EBD5AB
  }
  .input-count{
    all: unset;
    width: 100%;
    background-color: #EBD5AB;
    height: 38px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
  }
  .button-style{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #E67E22;
    border-radius: 4px;
  }
  .button-style-disabled{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #EBD5AB;
    border-radius: 4px;
  }
  .result-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    border-radius: 4px;
    background-color: #EBD5AB;
    gap:8px
  }
  .detail-convert{
    font-size: 18;
    width: 90%;
    text-align: left;
  }
}

/* Pantallas grandes */
@media (min-width: 1440px) {
  .container-trade{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px
  }
  .section-title{
    background-color: #628141;
    border-radius: 4px;
    color:#EBD5AB;
    padding: 4px;
    font-size: 30px;
    width: 20%;
    text-align: center;
  }
  .select-style{
    background-color: #EBD5AB;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .form-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50%; 
    background-color: #628141;
    padding: 5px;
    opacity: 0.95;
  }
  .option-style{
    width: 100%;
  }
  .label-trade-tengo{
    font-size: 25;
    width: 100%;
    color: #EBD5AB
  }
  .input-count{
    all: unset;
    width: 100%;
    background-color: #EBD5AB;
    height: 38px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
  }
  .button-style{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #E67E22;
    border-radius: 4px;
  }
  .button-style-disabled{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #EBD5AB;
    border-radius: 4px;
  }
  .result-trade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 100px;
    border-radius: 4px;
    background-color: #EBD5AB;
    gap:8px
  }
  .detail-convert{
    font-size: 18;
    width: 90%;
    text-align: left;
  }
}
